log/*.log
tmp/**/*
doc/api
doc/app
db/development.sqlite3
db/test.sqlite3
db/schema.rb
config/rpx_now.yml
config/bot.yml
config/deploy.rb
*.[oa]
*~
*#*
data/**/*.csv
data/**/*.yml
data/*.csv
data/*.yml
